<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />        <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="images/icons/favicon.png">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Lato|Source+Sans+Pro&display=swap');
    </style> 
    <script 
    src="https://code.jquery.com/jquery-3.5.0.js"
    integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>
    <script src="/javascripts/home.js"></script>
    <script src="/javascripts/editor.js"></script>
    <script src="/javascripts/loading.js"></script>
    <script src="/javascripts/description_page.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script
    src="https://code.jquery.com/jquery-3.5.0.js"
    integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc="
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/ui/trumbowyg.min.css">
    <link rel="stylesheet" href="/stylesheets/media.css">

</head>
<body>
<div class="after-submit">
  <div class="lds-ring" >
      <div></div><div></div><div></div><div></div>
  </div>
</div>
<div class="background">
<div id ="mySidenav"class="sidenav">
  <div class="sidenav-logo">
    <a class="side-logo-link" href="/"><img  src="/images/home/logo.png" alt="side-bar-logo"></a>
    <a href="javascript:void(0)" class="closebtn link" onclick="closeNav()">&times;</a>
  </div>
  <% if(!loggedIn){ %>
    <a id="login-mini" href="/login"><strong>Login/Register</strong></a>
    <%}%>
    <a id="order-mini"href="/order"><strong>My Order</strong></a>
    <% if(loggedIn){ %>
    <form action="/logout" id="form-logout" method="POST">
      <input type="hidden" name="_csrf" value="<%=csrfToken %>">
      <button type="submit">Sign Out</button>
    </form>
    <% } %>
</div>
</div>

<div class="overlay">
<div class="menu">
    <div class="hamburger"  id="small" onclick="openNav()">
      <img id="burger-menu" src="/images/icons/burger-menu.png" alt="">
      </div>
    <a class="logo" id="small" href="/"><img  src="/images/home/logo.png" alt=""></a>
    <a  id="small" class="menu-item-con"href="/cart">
      <div class="menu-item" ><img class="cart-icon" src="/images/icons/shopping-cart.png" alt=""><br><strong>Cart</strong></div>
    </a>
  <a class="logo" id="main-logo" href="/"><img  src="/images/home/logo.png" alt=""></a>
    <% if(role =="admin"){ %>
    <div class="menu-container">
      <a class="menu-item-con" href="/">
        <div class="menu-item" >
          <img src="/images/icons/home.png" alt=""><br><strong>Home</strong></div>
      </a>
          <div class="menu-item-con" id="menu-profile" onclick="myFunction()">
            <div class="menu-item">
              <img class="profile-icon" src="/images/icons/user.png" alt="">
              <br><strong><%= user.name%></strong>
            </div>
          </div>
          <div id="profileDropdown" class="profile-dropdown">
            <a href="/order"><strong>My Order</strong></a>
            <% if(loggedIn){ %>
            <form action="/logout" id="form-logout" method="POST">
              <input type="hidden" name="_csrf" value="<%=csrfToken %>">
              <button type="submit">Sign Out</button>
            </form>
            <% } %>
          </div>
          <a class="menu-item-con" href="/addProduct">
            <div class="menu-item" >
              <img src="/images/icons/product.png" alt=""><br><strong>Add Product</strong></div>
          </a>
          <a class="menu-item-con"href="/cart">
            <div class="menu-item" ><img class="cart-icon" src="/images/icons/shopping-cart.png" alt=""><br><strong>Cart</strong></div>
            </a>
    </div>
    <% }else{%>  
          
      <div class="menu-container-login">
        
        <a class="menu-item-con" href="/">
          <div class="menu-item" >
            <img src="/images/icons/home.png" alt=""><br><strong>Home</strong></div>
        </a>
        
            <div class="menu-item-con" id="menu-profile" onclick="myFunction()">
              <div class="menu-item">
                <img class="profile-icon" src="/images/icons/user.png" alt="">
                <% if(loggedIn){ %>
                  <br><strong><%= user.name%></strong>
                <%}else{%>
                <br><strong>Account</strong>
                <%}%>
              </div>
            </div>
            <div id="profileDropdown" class="profile-dropdown">
              <% if(!loggedIn){ %>
              <a href="/login"><strong>Login/Register</strong></a>
              <%}%>
              <a href="/order"><strong>My Order</strong></a>
              <% if(loggedIn){ %>
              <form action="/logout" id="form-logout" method="POST">
                <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                <button type="submit">Sign Out</button>
              </form>
              <% } %>
            </div>
            <a class="menu-item-con"href="/cart">
              <div class="menu-item" ><img class="cart-icon" src="/images/icons/shopping-cart.png" alt=""><br><strong>Cart</strong></div>
              </a>
      </div> 
      <% } %>
  </div>

