<%- include('layouts/header'); -%>
<div class="maincart-container">

    <div class="small-cart-container">
        <p class="cart-bar-title">My Cart</p>
        <% for (var i=0; i<products.length;i++){ %>
        <div class="item-container">
            <div class="item img"><img src="data:<%= products[i].productId.image[0].contentType %>;base64,<%= products[i].productId.image[0].data %>" alt="<%= products[i].productId.image[0].name %>"></div>
            <div class="item desc"><p><%= products[i].productId.name %></p>
            <p>Qty: <%= products[i].quantity %> at each RM <%= products[i].productId.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></p>
            <p style="font-weight:bold">RM <%= (products[i].productId.price*products[i].quantity).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></p>
            <form action="/updateCart" method="POST" class="loading-form">
                <div class="update"><select style="margin: 0px;" id="product-quantity" name="quantity"
                        required>
                        <% if(products[i].quantity ==1){ %>
                            <option value=1 selected >1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                        <%}else if(products[i].quantity ==2){%> 
                            <option value=1>1</option>
                            <option value=2 selected>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                        <% }else if(products[i].quantity ==3){%>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3 selected>3</option>
                            <option value=4>4</option>
                        <%}else if(products[i].quantity ==4){%>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4 selected>4</option>
                        <%}else{%>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                        <%}%>
                        </select>
                    <input type="hidden" name="pId" value='<%= products[i]._id %>'>
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <button  type = "submit" class="submit">update</button>
                    </form>
        <form action="/deleteCart" method="POST" class="loading-form">
            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
            <input type="hidden" name="pId" value='<%= products[i]._id %>'>
            <button type="submit" class="delete-submit"  class="submit">
                <strong>X</strong>
            </button>
        </form>
    </div>
    </div>
        </div>
    <% }%>
    </div>
    <div class="cart-container">
        <h3>Shopping Cart</h3>
        <div class="cart-detail">
            <div class="cart-bar">
                <div class="cart-bar-title">Item</div>
                <div class="cart-bar-title">Description</div>
                <div class="cart-bar-title">Price</div>
                <div class="cart-bar-title">Quantity</div>
                <div class="cart-bar-title">Sub Total</div>
            </div>
            <% if(products.length == 0){ %>
                <div class="cart-item">
                    <h4>Your Cart is empty! Start Shopping!</h4>
                </div>
            <% }else{ %>
                <% for (var i=0; i<products.length;i++){ %>
                <div class="cart-item">
                    <% if(products!=null){ %>
                        <div class="img-holder"><img src="data:<%= products[i].productId.image[0].contentType %>;base64,<%= products[i].productId.image[0].data %>" alt="<%=products[i].productId.image[0].name%>"></div>
                    <% }%>
                    <div class="item"><%= products[i].productId.name %></div>
                    <div class="item">RM <%= products[i].productId.price.toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></div>
                    <div class="item">
                        <div class="update">
                        <form action="/updateCart" method="POST" class="loading-form">
                        <div class="update"><select style="margin: 0px;" id="product-quantity" name="quantity"
                                required>
                                <% if(products[i].quantity ==1){ %>
                                    <option value=1 selected >1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                <%}else if(products[i].quantity ==2){%> 
                                    <option value=1>1</option>
                                    <option value=2 selected>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                <% }else if(products[i].quantity ==3){%>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3 selected>3</option>
                                    <option value=4>4</option>
                                <%}else if(products[i].quantity ==4){%>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4 selected>4</option>
                                <%}else{%>
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                <%}%>
                                </select>
                            <input type="hidden" name="pId" value='<%= products[i]._id %>'>
                            <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                            <button  type = "submit" class="submit">update</button>
                        </form>
                    </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="subtotal-con">
                            <div class="subtotal-content"><strong>
                            RM <%= ((products[i].quantity)*(products[i].productId.price)).toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %> </strong>
                        </div>
                        
                        <form action="/deleteCart" method="POST" class="loading-form"><input type="hidden" name="_csrf" value="<%=csrfToken %>"><input type="hidden" name="pId" value='<%= products[i]._id %>'><button type="submit" class="delete-submit"  class="submit"><strong>X</strong></button></form></div>
                        </div>
                </div>
                <% } %>
            <% } %>
        </div>
    </div>
    <p class="mini-title cart-bar-title">Order Summary</p>
    <div class="total-container">
        <div class="total-content">
            <div class="summary-con">
                <h3>Order Summary</h3>
                <form action="/postOrder" method="POST" class="loading-form">
                <div class="summary-row">
                    <span class="summary-title"><strong>Sub Total</strong></span>
                    <span class="summary-value">RM &emsp;&emsp;<%= totalSub.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></span>
                </div>
                <% if(products.length == 0){ %>
                    <hr class="line"></hr>
                    <div class="summary-row">
                        <span class="summary-title"><strong>Total</strong></span>
                        <span class="summary-value"><strong>RM 0.00</strong></span>
                    </div>
                <%}else{%>
                    <div class="summary-row">
                        <span class="summary-title">Estimated Shipping</span>
                        <span class="summary-value">RM &emsp;&emsp;&emsp;&emsp;&ensp;<%= shipping.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></span>
                    </div>
                    <div class="summary-row">
                        <span class="summary-title">Sales tax</span>
                        <span class="summary-value">RM &emsp;&emsp;&emsp;&emsp;&ensp;<%= tax.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></span>
                    </div>
                    <div class="line"></div>
                <div class="summary-row">
                    <span class="summary-title"><strong>Total</strong></span>
                    <span class="summary-value"><strong>RM &emsp;&emsp;<%= totalPrice.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,")%></strong></span>
                </div>
                <%}%>
                <% if(products.length == 0){ %>
                    <button type="button" id="submit" disabled="true" class="submit disabled"> Check Out</button>
                <%}else{%>
                    <input type="hidden" name="totalPrice" value="<%=totalPrice%>">
                    <input type="hidden" name="_csrf" value="<%=csrfToken %>">
                    <button type="submit" id="submit" class="submit"> Check Out</button>
                <%}%>

                </form>
            </div>
        </div>
    </div>
</div>
<script>$(".menu").css("position","relative");</script>
    <%- include('layouts/footer'); -%>