<%- include('layouts/header'); -%>
<body class="main">
<div class="form-container">
    <!-- <div class="form-image-container">
        <img class="form-image" src="images/headset.jpg" alt="">
    </div> -->
    <div class="form-product">
        <form id="form-add" action="/editProduct" class="form-loading" method="POST">
        <h2 class="form-title"><%= title %></h2>
        <% if(error) {%>
            <script> 
                scrollToTop(); 
            </script> 
            <div class="error">
                <p><strong>Error<br></strong><%= error %></p>
            </div>
        <%}%>
        <div class="form-main">
            <div class="form-row">
                <div class="form-input">
                    <div class="label">Product Name</div>
                    <input type="text" name="product_name" value ="<%= product.name %>"required>
                    </div> 
                <div class="form-input">
                    <div class="label">Product Catagory</div>
                    <select id="catagory" name="product_catagory" required>
                        <% if(product.catagory =="computer"){ %>
                            <option value="" disabled >Please choose product catagory</option>    
                            <option value="computer" selected>Computer</option>
                            <option value="phone">Phone</option>
                            <option value="headphone">Headphone</option>
                            <option value="gaming">Gaming Accessory</option>
                            <option value="camera">Camera</option>
                            <option value="wearable">Wearable</option>
                        <%}else if(product.catagory =="phone"){%> 
                            <option value="" disabled >Please choose product catagory</option>    
                            <option value="computer">Computer</option>
                            <option value="phone" selected>Phone</option>
                            <option value="headphone">Headphone</option>
                            <option value="gaming">Gaming Accessory</option>
                            <option value="camera">Camera</option>
                            <option value="wearable">Wearable</option>
                        <% }else if(product.catagory =="headphone"){%>
                            <option value="" disabled >Please choose product catagory</option>    
                            <option value="computer">Computer</option>
                            <option value="phone">Phone</option>
                            <option value="headphone" selected>Headphone</option>
                            <option value="gaming">Gaming Accessory</option>
                            <option value="camera">Camera</option>
                            <option value="wearable">Wearable</option>
                        <%}else if(product.catagory =="gaming"){%>
                            <option value="" disabled >Please choose product catagory</option>    
                            <option value="computer">Computer</option>
                            <option value="phone">Phone</option>
                            <option value="headphone">Headphone</option>
                            <option value="gaming" selected>Gaming Accessory</option>
                            <option value="camera">Camera</option>
                            <option value="wearable">Wearable</option>
                        <%}else if(product.catagory =="camera"){%>
                            <option value="" disabled >Please choose product catagory</option>    
                            <option value="computer">Computer</option>
                            <option value="phone">Phone</option>
                            <option value="headphone">Headphone</option>
                            <option value="gaming">Gaming Accessory</option>
                            <option value="camera" selected>Camera</option>
                            <option value="wearable">Wearable</option>
                        <%}else if(product_catagory =="wearable"){%>    
                            <option value=""disabled >Please choose product catagory</option>    
                            <option value="computer">Computer</option>
                            <option value="phone">Phone</option>
                            <option value="headphone">Headphone</option>
                            <option value="gaming">Gaming Accessory</option>
                            <option value="camera">Camera</option>
                            <option value="wearable"  selected >Wearable</option>
                        <%}else{%>
                            <option value="" disabled selected>Please choose product catagory</option>    
                            <option value="computer">Computer</option>
                            <option value="phone">Phone</option>
                            <option value="headphone">Headphone</option>
                            <option value="gaming">Gaming Accessory</option>
                            <option value="camera">Camera</option>
                            <option value="wearable" >Wearable</option>   
                        <% } %> 
                </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-input">
                    <div class="label">Product Brand</div>
                    <input type="text" name="product_brand" value ="<%= product.brand %>" required>
                </div> 
                <div class="form-input">
                    <div class="label">Product Price</div>
                    <span style="position: absolute; margin-left: 6px; margin-top: 15px;">$</span>
                    <input type="text" name="product_price"  class="price-input" value ="<%= product.price %>" required>
                </div> 
            </div>
            <div class="form-row description">
                <div class="description-con">
                    <div class="label">Product Description</div>
                    <textarea class="description" value ="" id="editor" placeholder="Description about product..." type="text" name="product_description" required><%= product.description %></textarea> 
                </div>  
            </div>
            <div class="form-row description">
                <div class="description-con">
                    <div class="label">Product Spec</div>
                    <textarea class="description" id="editor" value ="" placeholder="Spec about product.." type="text" name="product_specs" required><%= product.specs %></textarea> 
                </div>  
            </div>  
            <div class="form-row">
                <div class="form-input">
                    <div class="label">Product Images are not available to update. If you wish to update image, please add another product and delete the current product.</div>
                    <!-- <input type="file" for="imageUpload" disabled name="product_image" required> -->
                </div>        
            </div>
            </div>
            <div class="form-row">
        <input type="hidden" name="_csrf" value="<%=csrfToken %>">
        <input type="hidden" name="pId" value="<%= pId %>">
        <button class="submit" id="btn-submit" type="submit">Edit Product</button>
        </form>
    </div>
    </div>
    </div>
</div>

<%- include('layouts/footer'); -%>