<%- include('layouts/header'); -%>
<body class="main">
<div class="form-container">
    <!-- <div class="form-image-container">
        <img class="form-image" src="images/headset.jpg" alt="">
    </div> -->
    <div class="form-product">
        <form id="form-add" action="/editProduct" class="form-loading" method="POST" enctype="multipart/form-data">
        <h2 class="form-title"><%= title %></h2>
        <span class="error"><%= error %></span>
        <div class="form-main">
            <div class="form-row">
                <div class="form-input">
                    <div class="label">Product Name</div>
                    <input type="text" name="product_name" value ="<%= product.name %>"required>
                    </div> 
                <div class="form-input">
                    <div class="label">Product Catagory</div>
                    <select id="catagory" name="product_catagory" required>
                    <option value="" disabled selected>Please choose product catagory</option>        
                    <option value="computer">Computer</option>
                    <option value="phone">Phone</option>
                    <option value="headphones">Headphone</option>
                    <option value="gaming">Gaming Accessory</option>
                    <option value="camera">Camera</option>
                </select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-input">
                    <div class="label">Product Brand</div>
                    <input type="text" name="product_brand" value ="<%= product.brand %>" required>
                </div> 
                <div class="form-input">
                    <div class="label">Product Price</div>
                    <span style="position: absolute; margin-left: 6px; margin-top: 15px;">$</span>
                    <input type="text" name="product_price"  class="price-input" value ="<%= product.price %>" required>
                </div> 
            </div>
            <div class="form-row description">
                <div class="description-con">
                    <div class="label">Product Description</div>
                    <textarea class="description" value ="" id="editor" placeholder="Description about product..." type="text" name="product_description" required><%= product.description %></textarea> 
                </div>  
            </div>
            <div class="form-row description">
                <div class="description-con">
                    <div class="label">Product Spec</div>
                    <textarea class="description" id="editor" value ="" placeholder="Spec about product.." type="text" name="product_specs" required><%= product.specs %></textarea> 
                </div>  
            </div>  
            <div class="form-row">
                <div class="form-input">
                    <div class="label">Product Image</div>
                    <input type="file" for="imageUpload" disabled name="product_image" required>
                </div>        
            </div>
            </div>
            <div class="form-row">
        <input type="hidden" id="csrf" value="<%=csrfToken %>">
        <button class="submit" id="btn-submit" type="submit">Edit Product</button>
        </form>
    </div>
    </div>
    </div>
</div>
<!-- Import jQuery -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-3.3.1.min.js"><\/script>')</script>

<!-- Import Trumbowyg -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.20.0/trumbowyg.min.js">
</script>
</body>

</html>