<%- include('layouts/header'); -%>
<div id="slideshow-container">
  <ul id="slideshow-content">
    <% for( let i =0; i<slide_hero.length;i++){ %>
      <li><img id="slide-img" src="<%= slide_hero[i]%>" alt=""></li>
    <% }%>
  </ul>
</div>
<div id ="dot-container"style="text-align:center; padding: 15px 0 15px 0;">
  <span class='dot'></span>
  <span class='dot'></span>
  <span class='dot'></span>
  <span class='dot'></span>
</div>
<div class="main-container">
    <div class="filter-container">
      <span class="filter-title">Electronic Catagory</span>
      <div class="filter">
        <ul class="filter-list">
          <a href="/?catagory=camera">
            <li>
              Camera
            </li>
          </a>
          <a href="/?catagory=phone">
          <li>
            Cell Phone
          </li>
        </a>
        <a href="/?catagory=computer">
          <li>
           Computer
          </li>
        </a>
        <a href="/?catagory=headphone">
          <li>
            Headphone
          </li>
        </a>
        <a href="/?catagory=gaming">
          <li>
            Gaming Accessories
          </li>
        </a>
        <a href="/?catagory=wearable">
          <li>
            Wearable
          </li>
        </a>
        <a id="all" href="/?catagory=all">
          <li>
            See All
          </li>
          </a>
        </ul>
      </input>
      </div>
    </div>
    <div class="product-main-container">
    <div class="products-container">
      <% for( let i =0; i<products.length;i++){ %>
        <div class="product">
          <a class="detail-link" href="/pDetail?pid=<%=products[i]._id %>">
          <div class="brief-container" >
          <img class ="product-img" src="data:<%= products[i].image[0].contentType %>;base64,<%= products[i].image[0].data %>" alt="products[i].image[0].name">
          </div>
          <p class="product-brand"><%= (products[i].brand).toUpperCase() %></p> 
          <div class="brief-title">
            <p class="product-title"><%= products[i].name %></p>
          </div>
          <div class="brief-price">
            <p class="product-price">RM <%= products[i].price.toFixed(2).toString().replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %></p> 
          </div>
          </a>
          <% if(role=="admin"){ %>
          <div class="btn-admin">
            <form action="/editProduct" method="GET">
              <input type="hidden" name="pid" value ="<%=products[i]._id %>">
              <button type="submit">Edit</button>
            </form>
            <form class="form-delete" action="/deleteProduct" method="POST">
            <button class="btn-delete" type="submit">Delete</button>
            <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
            <input type="hidden" name="pid" value ="<%=products[i]._id %>">
          </form>
          </div>
          <% } %>

        </div>
      <% } %>
    </div>
    <div class="page-section">
      <div class="page-content">
          <%if(!catagory) {%>
            <% if (currentPage != 1) { %>
                <a href="/?page=1"><div class="page">1</div></a>
              <% }%>
              <% if (hasPreviousPage) { %>
                <% prepage =2;%>
                <% while (prepage < previousPage+1)  { %>
                  <a href="/?page=<%= prepage %>"><div class="page"><%= prepage  %></div></a>
                  <% prepage++; %>
                <% }%>  
              <% }%>
              <a class="active" id="currentPage" href="/?page=<%= currentPage %>">
              <div class="page">
                <%= currentPage %>
              </div></a>
              <% if (hasNextPage) { %>
                <% temp =nextPage %>
                <% while (nextPage < lastPage)  { %>
                  <a href="/?page=<%= nextPage %>"><div class="page"><%= nextPage %></div></a>
                  <% nextPage++; %>
                <% }%>  
              <% }%>
              <% if (lastPage !== currentPage) { %>
                <a href="/?page=<%= lastPage %>"><div class="page">
                  <%= lastPage %></div></a>
              
              <% } %>
        <%}else{%>
          <% if (currentPage != 1) { %>
            <a href="/?page=1"><div class="page">1</div></a>
          <% }%>
          <% if (hasPreviousPage) { %>
            <% prepage =2;%>
            <% while (prepage < previousPage+1)  { %>
              <a href="/?page=<%= prepage %>"><div class="page"><%= prepage  %></div></a>
              <% prepage++; %>
            <% }%>  
          <% }%>
          <a class="active" id="currentPage" href="/?page=<%= currentPage %>">
          <div class="page">
            <%= currentPage %>
          </div></a>
          <% if (hasNextPage) { %>
            <% temp =nextPage %>
            <% while (nextPage < lastPage)  { %>
              <a href="/?page=<%= nextPage %>"><div class="page"><%= nextPage %></div></a>
              <% nextPage++; %>
            <% }%>  
          <% }%>
          <% if (lastPage !== currentPage) { %>
            <a href="/?page=<%= lastPage %>"><div class="page">
              <%= lastPage %></div></a>
          
          <% } %>
          <%} %>
        </div>
    </div>
  </div>
</div>
 
  <% if(catagory || (currentPage>1)|| all){ %>
    <script>
      window.scrollTo(0,350)
    </script>
  <% } %>
  <script> $(".menu").css("position","fixed");
  $(".logo img").css("position","fixed")
  </script>
  
<%- include('layouts/footer'); -%>