<%- include('layouts/header'); -%>
<body class="main2">
<div class="detail-container">
    <div class="detail">
        <div class="detail-img">
            <img src="<%= product.imageUrl %>" alt="">
        </div>
        <div class="detail-description">
            <p style="margin-top:0px; font-weight: bold;"><%= product.brand %></p>
            <p style="font-family: 'Lato', sans-serif;"><%= product.name %></p>
            <p style="margin-top:10px; font-weight: bold;">RM <%= product.price %></p>
            <form id="form-quantity" class="form-loading" action="/cart" method="POST">
            <select id="product-quantity" name="product_quantity" required>
              <option value=1 selected>1</option>
              <option value=2>2</option>
              <option value=3>3</option>
              <option value=4>4</option>
              <option value=5>5</option>
          </select>
          <input type="hidden" name="pId" value="<%= product._id %>">
            <button type="submit" class="submit"><strong>Add To Cart</strong></button>
          </form>
        </div>
    </div>
    <div class="description-section">
    <div class="detail-description-container">
    <div class="description-tab">
      <button class="tablinks" onclick="openTab(event, 'description')"><Strong>Description</Strong></button>
      <button class="tablinks" onclick="openTab(event, 'spec')"><Strong>Specs</Strong></button>
    </div>
    <div class="tabcontent-con">
    <div id="description" class="tabcontent">
        <%- product.description %> 
    </div>
    <div id="spec" class="tabcontent">
      <%- product.specs %> 
    </div> 
    </div>
  </div>
  </div>
    
</div>

</body>
<%- include('layouts/footer'); -%>